body {
  background-color: whitesmoke;
}

.centerdiv {
  margin: 0 auto;
  width: 40%;
  padding-top: 15%;
  
}

.boxStyle {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Ubuntu', 'Arial';
  color: darkslateblue;
}