<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  
  <div class="container">
    <div class="centerdiv">
        <div class="boxStyle" id="location"></div>
        <div class="boxStyle" id="condition"></div>
        <div class="boxStyle" id="atmosphere"></div>
        <div class="boxStyle" id="astronomy"></div>
    </div>
  </div>

</body>
</html>
