<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  
  <div class="container">
    <div class="centerdiv" id="main">
        <div class="boxStyle" id="progress"></div>
        <div class="boxStyle" id="location"></div>
        <div class="boxStyle" id="wind"></div>
        <div class="boxStyle" id="astronomy"></div>
        <div class="boxStyle" id="atmosphere"></div>
        <div class="boxStyle" id="condition"></div>
    </div>
  </div>

  <script>
      var mainDiv = document.getElementById("main");
      
      var progress = document.getElementById("progress");

      do {
        progress.innerHTML = "<p> Getting Forecast...... </p>";
      }
      while (mainDiv.innerHTML === null);
  </script>

</body>
</html>
