<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  
  <div class="container">
    <div class="centerdiv" id="main">
        <div class="boxStyle" id="progress">
            <% include ../partials/initial.ejs %>
        </div>
        <div class="boxStyle" id="location"></div>
        <div class="boxStyle" id="wind"></div>
        <div class="boxStyle" id="astronomy"></div>
        <div class="boxStyle" id="atmosphere"></div>
        <div class="boxStyle" id="condition"></div>
    </div>
  </div>
</body>
</html>
